.col-md-12.top
  .panel.registrations.sign-in-form
    .container.edit-act
      %h2.white resend confirmation instructions
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        = f.full_error :confirmation_token
        .form-inputs
          = f.email_field :email, :autofocus => true, class: 'form-control', :placeholder => 'email'
        .form-actions.buffer
          = f.button :submit, "resend confirmation instructions", :class => 'btn-default sign-in-btn'
      = render "devise/shared/links"
