= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    %div
      Client: 
      %b= @project.client.name
    = f.input :name
    = f.input :description, as: :text
    = f.input :trello_project_id
    = f.input :toggl_project_id
    = f.input :google_drive_url

  .form-actions
    = f.button :submit
