= simple_form_for(@project) do |f|
  = f.error_notification

  .form-inputs
    %div
      Client: 
      %b= @project.client.name
    = f.input :name
    = f.input :github_repo
    = f.input :jira_project_id
    = f.input :toggle_project_id
    = f.input :google_drive_url

  .form-actions
    = f.button :submit
