.page-header
  = link_to new_project_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Project
  %h1 Listing projects

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Client
        %th Name
        %th Deployments
        %th Trello project
        %th Toggl project
        %th Google drive url
        %th
        %th
        %th

    %tbody
      - @projects.each do |project|
        %tr
          %td= link_to project.client.name, project.client
          %td= link_to project.name, "http://github.com/DevGarden/#{project.name}", target: "_blank"
          %td
            -project.deployments.each do |d| 
              .col-md-6
                =render "deployments/line_item", d: d 
          %td
            -if project.trello_project_id
              = link_to project.trello_project_id, project
          %td= project.toggl_project_id
          %td= project.google_drive_url
          %td= link_to 'Show', project
          %td= link_to 'Edit', edit_project_path(project)
          %td= link_to 'Destroy', project, data: { confirm: 'Are you sure?' }, method: :delete




