.modal-dialog.modal-dialog-portfolio
  .modal-content.modal-content-portfolio
    .modal-header
    .modal-body
      .container

        %div.row.portfolio-row
          .col-md-1.col-xs-3.back-img{"data-dismiss" => "modal", :type => "button"}
            = image_tag('back-btn.png', :class => "back-btn img-responsive")
          .col-md-11.company-div.title
            = image_tag 'imslogo.png', :class => 'company-img img-responsive'


        %div.row.details
          %div.col-md-6.div.col-xs-12.details-text
            %h4.headings project overview
            %p.paragraphs Revamp their marketing strategy, rreevaluate company overview, find financing in order to fulfill future projects.

            %h4.headings work
            %p.paragraphs Business consultation

            %h4.headings services
            %p.paragraphs Business Services <br> Impact Measurement

            %h4.headings question we helped solve
            %p.paragraphs  How do we track, monitor, and deliver a building composed of parts from a complex supply chain of multiple third-party suppliers? What is our company's value?

          %div.col-md-6.col-xs-12.details-gallery
            #myCarousel.carousel.slide{"data-ride" => "carousel"}
              / Indicators
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
                %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
              / Wrapper for slides
              .carousel-inner{:role => "listbox"}
                .item.active
                  = image_tag 'impactmanagement.png'
                .item
                  = image_tag 'hamstertest.jpeg'
                .item
                  = image_tag 'gnomelee.png'
              / Left and right controls
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
                %span.glyphicon.glyphicon-chevron-left.black{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
                %span.glyphicon.glyphicon-chevron-right.black{"aria-hidden" => "true"}
                %span.sr-only Next

    .modal-footer
