%button.dropdown.hamburger.hamburger--3dx{"tabindex" => "0", "role" => "button"}
  %div.hamburger-box
    %div.hamburger-inner
  %div.dropdown-content
    %a
      %span.link-underline sign in
    %a
      %span.link-underline portfolio
    %a{ 'href' => '/team'}
      %span.link-underline team

.container

  %div.row.portfolio-row.title
    .col-md-1.col-xs-3.back-img
      = link_to image_tag('back-btn.png', :class => "back-btn img-responsive"), root_path
    .col-md-11.company-img
      = image_tag 'veristride.png', :class => 'title img-responsive'


  %div.row.details
    %div.col-md-6.div.col-xs-12.details-text
      %h4.headings project overview
      %p.paragraphs Veristride needed an IOS app

      %h4.headings work
      %p.paragraphs Vobile app design

      %h4.headings services
      %p.paragraphs Design <br> App Development <br> Strategy

    %div.col-md-6.col-xs-12.details-gallery
      #myCarousel.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
        / Wrapper for slides
        .carousel-inner{:role => "listbox"}
          .item.active
            = image_tag 'DevGarden_Text.png'
          .item
            = image_tag 'impactmanagement.png'
          .item
            = image_tag 'hamstertest.jpeg'
          .item
            = image_tag 'gnomelee.png'
        / Left and right controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left.black{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right.black{"aria-hidden" => "true"}
          %span.sr-only Next
