%div.section

  %div.contact-btn{ "id" => "contact-us" } contact us
  = render 'contacts/form'

  %button.dropdown.hamburger.hamburger--3dx{"tabindex" => "0", "role" => "button"}
    %div.hamburger-box
      %div.hamburger-inner
    %div.dropdown-content
      %a{ 'href' => '/portfolio'}
        %span.link-underline portfolio
      %a{ 'href' => '/team'}
        %span.link-underline team
      %a{ 'href' => '/'}
        %span.link-underline home


  %h3.center portfolio

  .container

    %div.row.team-row
      %div.col-md-5.col-sm-5.col-xs-12
        = link_to portfolio_path("veristride"), :remote => true do
          %div.pic.veristride
        %end
      %div.col-md-2.col-sm-2.col-xs-12
        = link_to portfolio_path("datamural"), :remote => true do
          %div.pic.datamurallogo
        %end
      %div.col-md-5.col-sm-5.col-xs-12
        = link_to portfolio_path("grantminer"), :remote => true do
          %div.pic.grantminerlogo
        %end

    %div.row.team-row
      %div.col-md-5.col-sm-5.col-xs-12
        = link_to portfolio_path("ezlift"), :remote => true do
          %div.pic.ezliftlogo
        %end
      %div.col-md-2.col-sm-2.col-xs-12
        = link_to portfolio_path("vundertv"), :remote => true do
          %div.pic.vundertvlogo
        %end
      %div.col-md-5.col-sm-5.col-xs-12
        = link_to portfolio_path("dispatch"), :remote => true do
          %div.pic.dispatchlogo
        %end

    %div.row.team-row
      %div.col-md-5.col-sm-5.col-xs-12
        = link_to portfolio_path("sustain3"), :remote => true do
          %div.pic.sustain3logo
        %end
      %div.col-md-2.col-sm-2.col-xs-12
        = link_to portfolio_path("grocerygameplan"), :remote => true do
          %div.pic.grocerygameplanlogo
        %end
      %div.col-md-5.col-sm-5.col-xs-12
        = link_to portfolio_path("oilcommand"), :remote => true do
          %div.pic.oilcommandlogo
        %end

      %div.row.team-row
        %div.col-md-5.col-sm-5.col-xs-12
          = link_to portfolio_path("tracteam"), :remote => true do
            %div.pic.traclogo
          %end
        %div.col-md-2.col-sm-2.col-xs-12
          = link_to portfolio_path("digitaldensity"), :remote => true do
            %div.pic.digitaldensitylogo
          %end
        %div.col-md-5.col-sm-5.col-xs-12
          = link_to portfolio_path("ims"), :remote => true do
            %div.pic.imslogo
          %end


#project-modal.modal
