%div.nav-margin{ "id" => "fullpage"}
  %div.section
    .container
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to 'Contact Us', contact_path, :class => 'pull-left navbar-btn contact'
      %nav.navbar-nav.navbar-right
        %button.dropbtn.hamburger.hamburger--3dx{"tabindex" => "0", "role" => "button"}
          %div.hamburger-box
            %div.hamburger-inner
              -# = link_to 'Sign in', "#sign-in", :class => 'btn btn-lg sign-in btn-warning pull-right navbar-btn', "data-toggle" => "modal"
        %div.dropdown-content
          %a SIGN IN
          %a PORTFOLIO
          = link_to 'THE TEAM', team_path

    %div.inner.cover.center
      = render 'layouts/messages'

      %div.cover-heading
        = image_tag "gnomelee.png", :class => 'gnomelee img-responsive center-block hidden-xs'
      %h3.black.guiding GUIDING CLIENTS TO A DIGITAL FUTURE


    %div.row.five-columns-img
      %div.col-md-2.col-xs-6.col-md-offset-1{ "id" => "image_1"}
        = image_tag "strategy.png", :class => "img-responsive pillar-img"
      %div.col-md-2.col-xs-6.pillar-img{ "id" => "image_2" }
        = image_tag "experiencedesign.png", :class => "img-responsive pillar-img"
      %div.col-md-2.col-xs-6.pillar-img{ "id" => "image_3" }
        = image_tag "softwareengineering.png", :class => "img-responsive pillar-img"
      %div.col-md-2.col-xs-6.pillar-img{ "id" => "image_4" }
        = image_tag "changemanagement.png", :class => "img-responsive pillar-img"
      %div.col-md-2.col-xs-6.pillar-img{ "id" => "image_5" }
        = image_tag "impactmanagement.png", :class => "img-responsive pillar-img"

    %div.row.hidden-text
      %div.col-md-2.hidden-xs.col-md-offset-1.the-text{ "id" => "hidden-text1"}
      %div.col-md-2.hidden-xs.col-md-offset-3.the-text{ "id" => "hidden-text2"}
      %div.col-md-2.hidden-xs.col-md-offset-5.the-text{ "id" => "hidden-text3"}
      %div.col-md-2.hidden-xs.col-md-offset-7.the-text{ "id" => "hidden-text4"}
      %div.col-md-2.hidden-xs.col-md-offset-9.the-text{ "id" => "hidden-text5"}

  %div.section

    %h3 I'M INTERESTED IN
    %div.row.interests
      %div.col-md-offset-2.col-md-2
        = image_tag "iot.png", :class => "img-responsive interest-img"
      %div.col-md-2
        = image_tag "businessprocesses.png", :class => "img-responsive interest-img"
      %div.col-md-2
        = image_tag "dataintegration.png", :class => "img-responsive interest-img"
      %div.col-md-2
        = image_tag "mobileandenterprise.png", :class => "img-responsive interest-img"


  -# #sign-in.modal.fade{"aria-labelledby" => "sign-in", :role => "dialog", :tabindex => "-1"}
  -#   .modal-dialog{:role => "document"}
  -#     .modal-content
  -#       .modal-header
  -#         %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
  -#           %span{"aria-hidden" => "true"} &times;
  -#       .modal-body
  -#         = render 'layouts/signin'
