%div{ "id" => "fullpage"}
  .section

    %button.btn.contact-btn{ "id" => "contact-us" }
      = link_to 'contact us', contact_path
    -# %h3 Send Us a Message
    -# = simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f|
    -#   = f.input :name, :required => true
    -#   = f.input :email, :required => true
    -#   = f.input :message, :as => :text, :required => true
    -#   .hidden
    -#     = f.input :nickname, :hint => 'Leave this field blank!'
    -#   %div
    -#     %button.back-btn.btn back
    -#   %div
    -#     = f.button :submit, 'Send message', :class=> "btn btn-primary"


    %button.dropdown.hamburger.hamburger--3dx{"tabindex" => "0", "role" => "button"}
      %div.hamburger-box
        %div.hamburger-inner
      %div.dropdown-content
        %a
          %span.link-underline sign in
        %a
          %span.link-underline portfolio
        %a{ 'href' => '/team'}
          %span.link-underline team

    -#
    -# %div.inner.cover.center
    -#   = render 'layouts/messages'

    %div.cover-heading
      = image_tag "gnomelee.png", :class => 'gnomelee img-responsive center-block center hidden-xs'
      = image_tag "hamstertest.jpeg", :class => 'gnomelee-thumb img-responsive center-block center hidden-xs hide-gnomelee'
    %h2.black.guiding.center guiding clients to a digital future


    %div.row.five-columns-row
      %div.col-md-2.col-xs-6.col-md-offset-1.five-columns-img{ "id" => "image_1"}
        = image_tag "business_services.png", :class => "img-responsive pillar-img"
      %div.col-md-2.col-xs-6.five-columns-img{ "id" => "image_2" }
        = image_tag "experiencedesign.png", :class => "img-responsive pillar-img"
      %div.col-md-2.col-xs-6.five-columns-img{ "id" => "image_3" }
        = image_tag "softwareengineering.png", :class => "img-responsive pillar-img"
      %div.col-md-2.col-xs-6.five-columns-img{ "id" => "image_4" }
        = image_tag "innovation_accelerator.png", :class => "img-responsive pillar-img"
      %div.col-md-2.col-xs-6.five-columns-img{ "id" => "image_5" }
        = image_tag "impactmanagement.png", :class => "img-responsive pillar-img"

    %div.row.hidden-text
      %div.col-md-2.hidden-xs.col-md-offset-1
        %div.hidden-box{ 'id' => 'hidden-text1'} We act as a force multiplier for your business by providing strategic consulting, solution vetting and change management.
      %div.col-md-2.hidden-xs.col-md-offset-3
        %p.hidden-text2.hidden-box We rapidly model, prototype and iterate solutions.
      %div.col-md-2.hidden-xs.col-md-offset-5
        %p.hidden-text3.hidden-box We integrate development with experienced design to reduce errors and improve velocity.
      %div.col-md-2.hidden-xs.col-md-offset-7
        %p.hidden-text4.hidden-box We can help value and finance your business, develop your products and connect them to your consumers.
      %div.col-md-2.hidden-xs.col-md-offset-9
        %p.hidden-text5.hidden-box We tie the results to the objectives and seek opportunities for continuous improvement.

  .section

    %h3.interested i am interested in...
    %div.row.interests
      %div.col-md-offset-2.col-md-2
        = image_tag "iot.png", :class => "img-responsive interest-img"
      %div.col-md-2
        = image_tag "businessprocesses.png", :class => "img-responsive interest-img"
      %div.col-md-2
        = image_tag "dataintegration.png", :class => "img-responsive interest-img"
      %div.col-md-2
        = image_tag "mobileandenterprise.png", :class => "img-responsive interest-img"

  -#
  -# #sign-in.modal.fade{"aria-labelledby" => "sign-in", :role => "dialog", :tabindex => "-1"}
  -#   .modal-dialog{:role => "document"}
  -#     .modal-content
  -#       .modal-header
  -#         %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
  -#           %span{"aria-hidden" => "true"} &times;
  -#       .modal-body
  -#         = render 'layouts/signin'
