%div.contact-btn{ "id" => "contact-us" } contact us
%div.success-btn{ "id" => "success" } success!

= render 'contacts/form'


%div.dropdown.hamburger.hamburger--3dx{"tabindex" => "0", "role" => "button"}
  %div.hamburger-box
    %div.hamburger-inner
  %div.dropdown-content
    %a{ 'href' => '/portfolio'}
      %span.link-underline clients
    %a{ 'href' => '/team'}
      %span.link-underline about us
    %a{ 'href' => '#sign-in', 'data-toggle' => 'modal'}
      %span.link-underline sign in

-#
-# %div.inner.cover.center
-#   = render 'layouts/messages'

%div.cover-heading
  / = image_tag "gnomelee.png", :class => 'gnomelee img-responsive center-block center'
  = image_tag "thumbsup.png", :class => 'gnomelee-thumb img-responsive center-block center'
%h2.black.guiding.center guiding clients to a digital future


.container
  %div.row.five-columns-row
    %div.col-md-2.col-xs-6.col-md-offset-1.five-columns-img{ "id" => "image_1"}
      = image_tag "business_services.png", :class => "img-responsive pillar-img"
    %div.col-md-2.col-xs-6.five-columns-img{ "id" => "image_2" }
      = image_tag "experiencedesign.png", :class => "img-responsive pillar-img"
    %div.col-md-2.col-xs-6.five-columns-img{ "id" => "image_3" }
      = image_tag "softwareengineering.png", :class => "img-responsive pillar-img"
    %div.col-md-2.col-xs-6.five-columns-img{ "id" => "image_4" }
      = image_tag "innovation_accelerator.png", :class => "img-responsive pillar-img"
    %div.col-md-2.col-xs-12.five-columns-img{ "id" => "image_5" }
      = image_tag "impactmanagement.png", :class => "img-responsive pillar-img"

  %div.row.hidden-text.hidden-xs.hidden-sm
    %div.col-md-2.col-md-offset-1
      %p.hidden-box{ 'id' => 'hidden-text1'} We act as a force multiplier for your business by providing strategic consulting, solution vetting and change management.
    %div.col-md-2
      %p.hidden-box{ 'id' => 'hidden-text2'} We rapidly model, prototype and iterate solutions.
    %div.col-md-2
      %p.hidden-box{ 'id' => 'hidden-text3'} We integrate development with experienced design to reduce errors and improve velocity.
    %div.col-md-2
      %p.hidden-box{ 'id' => 'hidden-text4'} We can help value and finance your business, develop your products and connect them to your consumers.
    %div.col-md-2
      %p.hidden-box{ 'id' => 'hidden-text5'} We tie the results to the objectives and seek opportunities for continuous improvement.

.container

  %div.row.interested-row
    %div.col-md-12.col-sm-12.col-xs-12.interested{'id' => 'tag1'} i am interested in...
    %div.col-md-12.col-sm-12.col-xs-12.interested{'id' => 'tag2'} i am working on...
    %div.col-md-12.col-sm-12.col-xs-12.interested{'id' => 'tag3'} our team is in need of...
    %div.col-md-12.col-sm-12.col-xs-12.interested{'id' => 'tag4'} show me your work in...
    %div.col-md-12.col-sm-12.col-xs-12.interested{'id' => 'tag5'} we need help with...

  %div.row.interests
    %div.col-md-3.col-sm-6.interest-holder{'id' => 'iot'}
      = image_tag "iot.png", :class => "img-responsive interest-img"
    %div.col-md-3.col-sm-6.interest-holder{'id' => 'businessprocesses'}
      = image_tag "businessprocesses.png", :class => "img-responsive interest-img"
    %div.col-md-3.col-sm-6.interest-holder{'id' => 'dataintegration'}
      = image_tag "dataintegration.png", :class => "img-responsive interest-img"
    %div.col-md-3.col-sm-6.interest-holder{'id' => 'mobileandenterprise'}
      = image_tag "mobileandenterprise.png", :class => "img-responsive interest-img"

.container
  %div.row.project-row.hidden-xs
    %div.iot-container.hide
      %div.col-md-2.col-md-offset-3.project-col
        %div.veristride.logo-img
        = link_to 'see project', portfolio_path("veristride"), :class => "project-button", :remote => true

      %div.col-md-2.project-col
        %div.digitaldensitylogo.logo-img
        = link_to 'see project', portfolio_path('digitaldensity'), :class => 'project-button', :remote => true

      %div.col-md-2.project-col
        %div.datamurallogo.logo-img
        = link_to 'see project', portfolio_path("datamural"), :class => "project-button", :remote => true


    %div.businessprocesses-container.hide
      %div.col-md-2.col-md-offset-3.project-col
        %div.grantminerlogo.logo-img
        = link_to 'see project', portfolio_path("grantminer"), :class => "project-button", :remote => true

      %div.col-md-2.project-col
        %div.sustain3logo.logo-img
        = link_to 'see project', portfolio_path("sustain3"), :class => "project-button", :remote => true

      %div.col-md-2.project-col
        %div.ezliftlogo.logo-img
        = link_to 'see project', portfolio_path("ezlift"), :class => "project-button", :remote => true


    %div.dataintegration-container.hide
      %div.col-md-2.col-md-offset-3.project-col
        %div.dispatchlogo.logo-img
        = link_to 'see project', portfolio_path("dispatch"), :class => "project-button", :remote => true

      %div.col-md-2.project-col
        %div.traclogo.logo-img
        = link_to 'see project', portfolio_path("tracteam"), :class => "project-button", :remote => true

      %div.col-md-2.project-col
        %div.grocerygameplanlogo.logo-img
        = link_to 'see project', portfolio_path("grocerygameplan"), :class => "project-button", :remote => true

    %div.mobileandenterprise-container.hide
      %div.col-md-2.col-md-offset-3.project-col
        %div.oilcommandlogo.logo-img
        = link_to 'see project', portfolio_path("oilcommand"), :class => "project-button", :remote => true

      %div.col-md-2.project-col
        %div.sustain3logo.logo-img
        = link_to 'see project', portfolio_path("sustain3"), :class => "project-button", :remote => true

      %div.col-md-2.project-col
        %div.vundertvlogo.logo-img
        = link_to 'see project', portfolio_path("vundertv"), :class => "project-button", :remote => true


#project-modal.modal

#sign-in.modal.sign-in-modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content.modal-content-sign
      .modal-body.modal-body-sign
        = render 'layouts/signin'
